.tag {
  height:32px;
  width:fit-content;
  border-radius: 35px;
  margin-left:10px;
  margin-bottom:10px;
  padding:12px;
  font-size: var(--jp-ui-font-size-1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.unapplied-tag {
  background-color: var(--jp-layout-color1);
  border: 1px solid var(--jp-ui-font-color2);
  color: var(--jp-ui-font-color2);
}

.applied-tag {
  background-color: var(--jp-layout-color2);
  border: 1px solid var(--jp-ui-font-color1);
  color: var(--jp-ui-font-color1);
}

.tag-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-icon {
  display: inline-block;
  height: 18px;
  min-width:18px;
  background-image: url('../static/check-24px.svg');
  background-size: 18px;
  margin-left:8px;
}